.tooltip-container {
  position: relative;
  display: block;
}

.tooltip-container button {
  cursor: pointer;
}

/* Tooltip text */
.tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: left;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 105%; /* right of the button */
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  white-space: normal;
  z-index: 100;
}

/* Show tooltip on hover */
.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
